*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #222;}
body{font-size: 14px; line-height: 24px; color: #222; font-family: 'GowunDodum-Regular';}

/*고운돋음*/
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
#header{width: 100%; height: 130px; background-color: #75877a; font-size: 20px;}
.header_inner{width: 1320px; height: 130px; margin: 0 auto;}
.logo{float: left; margin: 17px 0;}
.nav{float: right;}
.nav li{float: left;}
.nav li a{display: block; margin-top: 66px; padding: 20px 70px; color: #fff;}
.nav li a:hover{background-color: #fff; color: #75877a;}

/* banner */
#banner{width: 100%; height: 750px; background: url(../images/banner.jpg) no-repeat center top; background-size: cover;}
.banner_inner{width: 1320px; height: 750px; margin: 0 auto; padding: 135px 0 0 60px;}
h1{font-size: 60px; line-height: 90px;}
.banner_inner a{display: inline-block; font-size: 25px; font-weight: bold; margin-top: 90px; padding: 15px 130px 15px 45px; border: #222 2px solid; background: url(../images/banner_ico.png) no-repeat 90% 50%;}
.banner_inner a:hover{background-color: rgba(255, 255, 255, 0.5);}

/* new */
#new{width: 1320px; height: 855px; margin: 0 auto; text-align: center; font-family: 'GowunDodum-Regular';}
.px18{font-size: 18px;}
.px25{font-size: 25px;}
.line{padding: 20px 0; border-bottom: 1px #ccc solid; margin-bottom: 20px;}
h3{font-size: 25px; margin: 20px 0 75px; font-family: 'noto sans';}
#new ul li{float: left; text-align: left; position: relative;}
.label{position: absolute; left: 0; top: -5px; z-index: 50;}
#new ul li:nth-child(2){margin: 0 15px;}
#new ul li div{width: 430px; height: 600px; overflow: hidden;}
#new ul li div:hover .scale{transform: scale(1.1);}
.scale{transition: all 1.5s;}

/* slogan */
#slogan{width: 100%; height: 500px; margin: 100px auto; background: url(../images/fixed.jpg) no-repeat fixed center top; background-size: cover; text-align: center; color: #fff; font-size: 80px; padding-top: 215px; box-sizing: border-box;}

/* brand */
#brand{width: 1320px; height: 650px; margin: 0 auto; background: url(../images/bg1.jpg) no-repeat center top; font-family: 'GowunDodum-Regular'; padding: 80px 0 0 460px; box-sizing: border-box;}
.blod{font-weight: bold; margin-bottom: 95px;}

/*video*/
#video{width: 1320px; height: 700px; margin: 100px auto 0;}

/*footer*/
#footer{width: 100%; height: 300px; margin: 100px auto 0; background-color: #75877a; color: #fff; font-family: "noto sans";}
.footer_inner{width: 1320px; margin: 0 auto; height: 300px; position: relative; padding-top: 50px; box-sizing: border-box;}
.footer_logo{position: absolute; right: 0; bottom: 50px;}
.px30{font-size: 30px; font-weight: bold; margin-bottom: 30px;}
.footer_text{float: left;}
.footer_icon{float: right;}
.footer_icon li{float: left;}
.footer_icon li a{display: block; margin-left: 15px; opacity: 0.5;}
.footer_icon li a:hover{opacity: 1;}
table{margin-top: 40px;}
th:nth-child(2n-1){padding-right: 20px;}
th:nth-child(2n){padding-right: 35px;}
th:nth-child(2){font-size: 25px;}
th:nth-child(4){font-weight: normal;}
th:nth-child(6){font-weight: normal;}

.top{position:fixed; bottom:50px; right:50px; display:none;}